@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular';
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* header CSS*/
.inner {
    width: 1280px;
    margin: 0 auto;
}

header {
    width: 100%;
}

header .inner,
section.inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 100%;
}



/* team box CSS*/
.info-team {
    width: 1300px;
    margin: 0 auto;
}

.info-team .box-team {
    margin: 120px 0px;
    text-align: center;
}

.info-team .box-team img {
    width: 20%
}

.info-team .box-team p {
    font-family: 'Noto Sans KR', sans-serif;
    width: 45%;
    display: inline-block;
    margin-left: 95px;
    line-height: 1.6;
    vertical-align: top;
    font-size: 20px;
    padding-top: 100px;
    color: #646464;
    text-align: left;
}

.info-team .box-team p span {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    color: #003310;
}


/* team card CSS*/
#columns {
    width: 1300px;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

#columns figure {
    width: 25%;
    display: inline-block;
    text-align: center;
    padding: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 2% 2%;
}

#columns figure img {
    width: 100%;
    border-radius: 15px;
    height: 300px;
}

#columns figure figcaption.name {
    font-size: 24px;
    font-weight: 700;
    color: black;
    margin-top: 20px;
    margin-bottom: 5px;
}

#columns figure figcaption.mbti {
    border-radius: 18px;
    color: #215632;
    margin-bottom: 20px;
}

#columns figure figcaption.caption {
    padding: 10px;
    color: #617A55;
}



/*post btn CSS*/
.btnarea {
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, -50%);
}

.join {

    width: 300px;
    height: 50px;

    background-color: #E1D4BB;
    color: #FCF0C8;
    font-size: 20px;

    border-radius: 50px;
    border: 2px solid whitesmoke;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);

    opacity: 0.7;
}

.join:hover {
    background-color: #E5DCC3;
    color: #A27B5C;
    font-weight: 700;
    border: 5px solid transparent;
    box-sizing: border-box;

    opacity: 1;
}



/* post Modal CSS*/

div.fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    position: absolute;
    top: 400px;
    left: 50%;
    border: 0;
    margin: 20px 0;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #fff;
}

.edit-overlay input,
.edit-overlay textarea,
.join-overlay input,
.join-overlay textarea {
    margin: 0;
    padding: 15px;
    border-radius: 0;
    border: 0;
    font-size: 16px;
    outline: 0;
    vertical-align: middle;
}

.edit-overlay,
.join-overlay button {
    border: 0;
    font-size: 16px;
}

label {
    width: 360px;
    height: 100%;
}

.join-overlay,
.info-overlay,
.edit-overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.title {
    text-align: center;
    color: #CBB279;
    font-weight: 700;
    font-size: 20px;
}

.image-box,
.name-box,
.mbti-box,
.blog-box,
.comment-box,
.pw-box {
    width: 360px;
    border-radius: 10px;
    box-shadow: 5px 3px 3px #dcdcdc;
    margin-top: 15px;
}

#edit-advantages,
#edit-collaboration {
    width: 100%;
    border-radius: 5%;
    resize: none;
}

.modal-btn-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.modal-btn-area>button {
    width: 160px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 3px 3px #dcdcdc;
    color: #E1D4BB;
    background-color: #537188;
}

.modal-btn-area>button:hover {
    background-color: #537188;
    color: #E1D4BB;
    font-weight: 700;
    border: 5px solid transparent;
    box-sizing: border-box;

    opacity: 0.7;
}

/************* detail Modal heejung Edit End *************/
/* detail Modal CSS*/

/* .detail클래스는 멤버 list 자세히 버튼 부분 (team card CSS 부분으로 올리면 좋을듯 합니다!)*/
.detail {
    width: 100%;
    height: 40px;

    background-color: #215632;
    color: white;
    font-size: 20px;

    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);

    opacity: 0.7;
}

.detail:hover {
    font-weight: 700;
    border: 1px solid #215632;
    box-sizing: border-box;
    background-color: transparent;
    color: black;

    opacity: 1;
}

.detail-overlay,
.join-overlay,
.edit-overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.detail-sec {
    width: 60vw;
    height: 80vh;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    padding: 2%;
    border-radius: 5px;
    overflow: scroll;
}

.edit-icons {
    display: flex;
    justify-content: end;
}

.edit-icons>div {
    width: 20px;
    margin-left: 5px;
}

.edit-icons>div>img {
    width: 100%;
}

.edit-icons>img {
    cursor: pointer;
    width: 40px;
    margin: 5px;
    padding: 5px;
    border-radius: 50%;
    background-color: #fff;
}

.modal-close {
    font-size: 19px;
    font-weight: bold;
    position: relative;
    width: 40px;
    cursor: pointer;
    top: -1px;
    margin-top: -1px;
    margin-left: 6px!important;
}
.modal-close .inner {
    width: inherit;
	text-align: center;
    cursor: pointer;
}
.modal-close label {
    font-size: 0.4em;
    line-height: 0.4em;
    text-transform: uppercase;
    color: #000;
    transition: all .3s ease-in;
    position: relative;
    opacity: 0;
    top: -2px;
    cursor: pointer;
}
.modal-close .inner:before,
.modal-close .inner:after {
	position: absolute;
	content: '';
	height: 1px;
	width: inherit;
	background: #000000;
	left: 0;
	transition: all .3s ease-in;
}
.modal-close .inner:before {
	top: 48%;
	transform: rotate(45deg);
}

.modal-close .inner:after {
	bottom: 50%;
	transform: rotate(-45deg);
}
.modal-close.outer:hover label {
	opacity: 1;
}
.modal-close.outer:hover .inner:before,
.modal-close.outer:hover .inner:after {
	transform: rotate(0);
}

.modal-close.outer:hover .inner:before {
	top: 0;
}

.modal-close.outer:hover .inner:after {
	bottom: 0;
}


.info-flex {
    display: flex;
    gap: 30px;
    align-items: center;
}

.info-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 300px;
}

.info-text {
    line-height: 1.6;
}

.info-text p.info-name {
    font-weight: bold;
    font-size: 1.2rem;
}

.info-text a {
    color: inherit;
}

.info-contents .info-subject {
    background-color: #a7b6b8;
    color: #fff;
    padding: 3px 5px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 3px;
}

.info-advantages,
.info-collaboration {
    margin: 25px 15px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
}

/* 댓글 입력*/
.re-input {
    display: flex;
}

.re-input input,
.re-input textarea {
    display: inline-block;
    padding: 0.5rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-right: 0.5%;
}

.re-input input {
    width: 10%;
}

.re-input textarea {
    width: 80%;
}

.re-input button {
    width: calc(100% - 91%);
    background-color: rgb(152, 207, 252);
    border: 0;
    border-radius: 0.25rem;
}

input:focus,
textarea:focus {
    color: rgb(34, 34, 34);
    border-color: rgb(152, 207, 252);
    outline: 0;
}

/* 댓글 리스트  */
#comment-list {
    margin: 20px 0;
    background-color: #f1f1f1;
    padding: 20px 15px;
    border-radius: 5px;
}

.comment-list-item {
    padding: 20px 10px;
    border-bottom: solid 1px #e1e1e1;
}

.comment-list-item:last-child {
    border-bottom: 0;
}

.comment-get-items {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.comment-edit-btn {
    font-size: 0.8rem;
}

.comment-get-items div button {
    background-color: transparent;
    border: 0;
    color: rgb(73, 73, 73);
    padding: 0 5px;
}

.comment-date {
    font-size: 0.8rem;
    color: rgb(73, 73, 73);
}

/* 왜 안먹힐까? 

.info-flex > p,a { > 하면 바로 아래 자식만 지칭!
    margin-top: 10px ;
} */

/************* detail Modal heejung Edit End *************/