@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
    font-family: 'Gowun Dodum', sans-serif;
}

.banner {
    background-image: url('pic1.jpg');
    color: white;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.mytitle {
    color: black;
    height: 250px;

    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 100px 50px;
}

.mycards {
    width: 1500px;
    float: none;
    margin: 0 auto;

    text-align: center;
}

.modal-body {
    float:left
}
.face {
    width: 300px;

}

.modal_text{
  
}