<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기억해조re_member 💭</title>

    <link rel="stylesheet" href="../static/index.css" />

</head>

<body>
    <!-- Header -->
    <header>
        <div class="inner">
            <div class="logo">
                <h1>기억해줘Re_Member</h1>
            </div>
        </div>
    </header>
    <!-- team contents -->
<div>
    팀 소개
</div>
    <!-- member list -->
    <!-- <section class="inner"> -->
    <div id="columns">
        <figure>
            <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/cinderella.jpg" />

            <figcaption class="name">
                이름
            </figcaption>
            <figcaption class="mbti">
                MBTI
            </figcaption>
            <button class="detail">
                자세히
            </button>
        </figure>
        <figure>
            <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/cinderella.jpg" />

            <figcaption class="name">
                이름
            </figcaption>
            <figcaption class="mbti">
                MBTI
            </figcaption>
            <button class="detail">
                자세히
            </button>
        </figure>
        <figure>
            <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/cinderella.jpg" />

            <figcaption class="name">
                이름
            </figcaption>
            <figcaption class="mbti">
                MBTI
            </figcaption>
            <button class="detail">
                자세히
            </button>
        </figure>
        <figure>
            <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/cinderella.jpg" />

            <figcaption class="name">
                이름
            </figcaption>
            <figcaption class="mbti">
                MBTI
            </figcaption>
            <button class="detail">
                자세히
            </button>
        </figure>
        <figure>
            <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/cinderella.jpg" />

            <figcaption class="name">
                이름
            </figcaption>
            <figcaption class="mbti">
                MBTI
            </figcaption>
            <button class="detail">
                자세히
            </button>
        </figure>
        
    </div>
    <!-- </section> -->
    
</body>
</html>